<div class="header position-relative top">
    <!--text-->
    <div class="position-absolute top w-100 d-flex flex-column justify-content-center align-items-center z20">
        <div class="display-2 cp-text-accent d-none d-md-block alhambraText">
            Shabazz Palaces
        </div>
        <div class="display-2 cp-text-accent d-md-none d-lg-none d-xl-none alhambraText">
            SPC
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bgdeeppink cp-text-lightGray d-flex">
            <div class="collapse navbar-collapse">
                <input style="height: 100px; width: 450px;" type="button" class="col-4 btn btn-info btn-outline-danger btn-rounded alhambraText z30 buttonBackground" value="home" onclick=" relocate_home()">
                <input style="height: 100px; width: 450px;" type="button" class="col-4 btn btn-info btn-outline-danger btn-rounded alhambraText z30 buttonBackground" value="albums" onclick=" relocate_albums()">
                <input style="height: 100px; width: 450px;" type="button" class="col-4 btn btn-info btn-outline-danger btn-rounded alhambraText z30 buttonBackground" value="merchandise" onclick=" relocate_merchandise()">

            </div>
        </nav>
    </div>
</div>