<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/shabazz.css">
    </head>
    <body>
        <div class="container-fluid p-0 parallax">
            <div class="header position-relative top">
                <!--text-->
                <div class="position-absolute top w-100 d-flex flex-column justify-content-center align-items-center z20">
                    <div class="display-2 cp-text-accent d-none d-md-block alhambraText">
                        Shabazz Palaces Central
                    </div>
                    <div class="display-2 cp-text-accent d-md-none d-lg-none d-xl-none alhambraText">
                        SPC
                    </div>
                </div>
            </div>
            <!--opacity-->
            <div class="position-absolute top h-100 w-100 opacity z15">

            </div>

            <!--photo-->
            <div class="position-absolute d-flex flex-column justify-content-center z10 h-100 w-100">
                <!--header image-->
                <!-- <img width="100%" src="/images/banner.jpg" alt=""> -->
            </div>


            <!--nav-->
            <nav class="navbar navbar-expand-lg navbar-dark bgdeeppink cp-text-lightGray d-flex sticky-top">
                <!-- Button trigger modal -->
                <button type="button" class="btn d-none d-md-block z20" data-toggle="modal" data-target="#exampleModal">
                    
                </button>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <!-- <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link afont" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link afont" href="html/gallery.html">Gallery</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link afont" href="html/menu.html">Menu</a>
                        </li>
                    </ul> -->
                </div>
            </nav>
            <!--end of nav-->
            
                <main>
                    <div class="row m-0">
                        <% covers.forEach(cover => { %>
                        <div class="col-xs-block col-sm-9 col-md-7 col-lg-6 col-xl-5 w-100 d-flex justify-content-center align-items-center z20">
                                <img src="<%= cover %> " height="200px" alt="">
                                <p></p>
                        </div>
                        <% }) %>

                        <% summariesArr.forEach(summary => { %>
                        <div class="col-xs-block col-sm-3 col-md-5 col-lg-6 col-xl-7 d-flex justify-content-center align-items-center">
                            <h2><p><%= summary %> </p></h2>
                        </div>
                        <% }) %>
                        
                    </div> 
                </main>
            </div>
            









        </div>
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>