body{
    background-color: black;
}

.row{
    height: 300px;
    justify-content: center;
    align-items: center;
}

.parallax {
        /* The image used */
        background-image: url("../images/banner.jpeg");
    
        /* Set a specific height */
        height: 5000px;
    
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

/* fonts */

.bigShouldersFont{
    /* font-size: large; */
    color: black;
    font-family: 'Big Shoulders Stencil Text', cursive;
    text-shadow: 1px 1px silver;
}

.alhambraText{
    font-family: Alhambra Deep;
}

.alhambraText2{
    font-family: Alhambra Deep;
    color: rgb(123, 55, 55);
    font-weight: 900;
}
@font-face{
    font-family: 'Alhambra';
    src: url('../../alhambra/ALHAMBRA.TTF');
}

.buttonBackground{
    background-color: black;
}

.opacity{
    opacity: 50%;
    background-color: gray;
    height: 100vh;
}

.z5{
    z-index: 5;
}
.z10{
    z-index: 10;
}
.z15{
    z-index: 15;
}
.z20{
    z-index: 20;
}
.z30{
    z-index: 30;
}